#fh5co-services, #fh5co-testimonials, #fh5co-prices, #fh5co-house, #fh5co-contacts, #fh5co-map, #fh5co-weather {
    padding: 4em 0;
}

.section-heading {
	padding-bottom:0;
}

iframe.fit-width {
	width:100%;
}